.clear {
  clear: both;
}

.graphic {
  width: 958px;
  margin: auto;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #333;
  height: 920px;
  position: relative;
}

h1 {
  font-family: Popular-bold;
  font-weight: bold;
}

.hide {
  display: none;
}
.results {
  border: 1px solid rgb(195, 200, 214);
}
.results-header, .results-footer {
  width: 100%;
  color: #333;
  line-height: 40px;
}

.results-footer {
  border-top: 1px solid #ccc;
  padding: 14px 0;
}

.results-header {
  height: 80px;
}
.results-header .title {
  margin: 0 10px;
  font-size: 1.2em;
}
.results-header form {
  float: left;
  padding: 20px 10px 0 10px;
}
.results-header .input {
  background-color: #fff;
  border: 1px solid rgb(146, 146, 146);
  color: rgb(102, 115, 114);
  font-size: 1em;
  margin: 0px;
  padding: 9px;
  width: 340px;
}
.formButton {
  margin-top: 0px;
}
#address-button {
  width: 130px;
}
#address-button.loading, #address-button.loading:hover {
  cursor: auto;
  background: -moz-linear-gradient(top, #015e9e, #084a7a);
    background: -webkit-linear-gradient(#015e9e,#084a7a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015e9e', endColorstr='#084a7a');
}
.results-header #feedback {
  margin: 0 10px;
  line-height: 100%;
  color: rgb(153, 51, 12);
  font-weight: bold;
}

.col {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  float: left;
  background-color: #fff;
}

.col2 {
  width: 55%;
  float: left;
  height: 804px;
}

.col1 {
  overflow: auto;
  width: 45%;
  position: relative;
  height: 885px;
  border-right: 1px solid #ccc;
}

.col .wrapper.active {
  background-color: #eee;
}
.col .header {
  padding: 10px 10px 2px 10px;
}
.col .header .show-on-map {
  margin-left: 10px;
  font-size: .8em;
  color: rgb(11, 71, 141);
  cursor: pointer;
}
.col .header .show-on-map:hover {
  text-decoration: underline;
}
.col .precinct-title {
  font-size: 1.2em;
  font-weight: bold;
}
.col .reporting {
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: normal;
  color: #999;
}

.col .candidates {
  padding: 0 20px;
  font-size: 14px;
}
.col .candidate {
  line-height: 1.6em;
  border-bottom: 1px solid #ccc;
}
.col .candidate .color {
  float: left;
  margin-top: 4px;
  height: 16px;
  width: 16px;
}

div.candidate:last-child {border-bottom: 0px none;}

.col .color { background-color: #ccc; }
.col .candidate-9031 .color { background-color: #1b9e77; }
.col .candidate-9021 .color { background-color: #d95f02; }
.col .candidate-9010 .color { background-color: #7570b3; }
.col .candidate-9014 .color { background-color: #e7298a; }
.col .candidate-9013 .color { background-color: #66a61e; }
.col .candidate-9032 .color { background-color: #e6ab02; }

.col .candidate .name {
  margin-left: 10px;
}
.col .candidate .percents, .col .percents-headers {
  font-weight: bold;
  float: right;
}
.col .percents-headers {
  font-size: 0.7em;
  font-weight: normal;
  color: #999;
  margin-right: 10px;
  margin-top: -5px; // TODO hack
}
.col .candidate .percent, .col .percent-header {
  width: 40px;
  display: inline-block;
  text-align: right;
  margin-left: 4px;
}
.col .percent-header {
  text-align: center;
}
.col .show-all {
  margin: 6px 0;
  font-size: .8em;
  color: rgb(11, 71, 141);
  cursor: pointer;
}

.col .show-all:hover {
  text-decoration: underline;
}

.map-wrapper {
  position: relative;
  height: 100%;
}

#map-tooltip-target {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 360px;
  border: 1px solid #ccc;
  padding: 5px;
  pointer-events: none;
}

#map-target {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.leaflet-control-attribution {
  display: none;
}

.results-footer .sources {
  clear: both;
  color: #777;
  font-size: 0.7em;
  line-height: 115%;
  margin: 10px;
}
.results-footer .sources a {
  color: rgb(11, 71, 141);
}
.results-footer .sources a:hover {
  text-decoration: underline;
}


