.clear {
  clear: both;
}

.graphic {
  width: 620px;
  margin: auto;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  font-family: Popular-bold;
  font-weight: bold;
}

.hide {
  display: none;
}

.results {
  border: 1px solid rgb(195, 200, 214);
}
.results-header, .results-footer {
  width: 100%;
  color: #333;
  line-height: 40px;
}
.results-header a, .results-footer a {
  color: #ddd;
  text-decoration: none;
}
.results-header .title {
  margin: 0 10px;
  font-size: 1.2em;
}
.results-header form {
  float: right;
  margin: 4px;
}
.results-header .input {
  background-color: #fff;
  border: 1px solid rgb(146, 146, 146);
  color: rgb(102, 115, 114);
  font-size: 1em;
  margin: 1px 0px;
  padding: 8px;
  width: 300px;
  height: 15px;
}
.results-header .button {
  background-color: #2E8B0D;
  color: #fff;
  font-size: 0.9em;
  padding: 8px 7px 7px 7px;
  border: none;
  cursor: pointer;
}
.results-header .button:hover {
  background-color: #457534;
}
#address-button {
  width: 110px;
}
#address-button.loading, #address-button.loading:hover {
  cursor: auto;
  background-color: #2E8B0D;
}
.results-header #feedback {
  margin: 0 10px;
  line-height: 50px;
}

.col {
  float: left;
  width: 100%;
  background-color: #fff;
}

.col2 {
  height: 700px;
  border-top: 1px solid #ccc;
}

.col1 {
  overflow: auto;
  position: relative;
  height: 220px;
}

.col1 .wrapper.active {
  background-color: #eee;
}
.col1 .header {
  padding: 10px 10px 2px 10px;
}
.col1 .header .show-on-map {
  margin-left: 10px;
  color: #999;
  font-size: 0.7em;
  cursor: pointer;
}
.col1 .header .show-on-map:hover {
  color: #aaa;
}
.col1 .precinct-title {
  font-size: 1.2em;
  font-weight: bold;
}
.col1 .reporting {
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: normal;
  color: #999;
}

.col1 .candidates {
  padding: 0 20px;
}
.col1 .candidate {
  line-height: 1.6em;
  border-bottom: 1px solid #ccc;
}
.col1 .candidate .color {
  float: left;
  margin-top: 4px;
  height: 16px;
  width: 16px;
}

.col .color { background-color: #ccc; }
.col .candidate-9031 .color { background-color: #1b9e77; }
.col .candidate-9021 .color { background-color: #d95f02; }
.col .candidate-9010 .color { background-color: #7570b3; }
.col .candidate-9014 .color { background-color: #e7298a; }
.col .candidate-9013 .color { background-color: #66a61e; }
.col .candidate-9032 .color { background-color: #e6ab02; }

.col1 .candidate .name {
  margin-left: 10px;
}
.col1 .candidate .percents, .col1 .percents-headers {
  font-weight: bold;
  float: right;
}
.col1 .percents-headers {
  font-size: 0.7em;
  font-weight: normal;
  color: #999;
  margin-right: 10px;
  margin-top: -5px; // TODO hack
}
.col1 .candidate .percent, .col1 .percent-header {
  width: 40px;
  display: inline-block;
  text-align: right;
  margin-left: 4px;
}
.col1 .percent-header {
  text-align: center;
}
.col1 .show-all {
  margin-top: 4px;
  color: #999;
  font-size: 0.7em;
  cursor: pointer;
}

#map-target {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.leaflet-control-attribution {
  display: none;
}

.results-footer .sources {
  margin-right: 10px;
  float: right;
  color: #777;
  font-size: 0.7em;
  line-height: 115%;
  padding: 10px;
}
.results-footer .sources a {
  color: #aaa;
}


