.clear {
  clear: both;
}

.graphic {
  width: 960px;
  margin: auto;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.hide {
  display: none;
}

.results {
  border: 2px solid #333;
}
.results-header, .results-footer {
  width: 100%;
  background-color: #333;
  color: #ccc;
  line-height: 40px;
}
.results-header a, .results-footer a {
  color: #ddd;
  text-decoration: none;
}
.results-header form {
  float: left;
  margin: 4px;
}
.results-header .input {
  font-size: 1em;
  background-color: #fff;
  border: none;
  height: 30px;
  line-height: 30px;

}
.results-header .button {
  background-color: #2E8B0D;
  color: #fff;
  font-size: 0.9em;
  padding: 8px 7px 7px 7px;
  border: none;
  cursor: pointer;
}
.results-header .button:hover {
  background-color: #457534;
}
.results-header #feedback {
  margin-left: 10px;
  line-height: 50px;
}

.col {
  width: 50%;
  height: 400px;
  float: left;
  background-color: #fff;
}
.col1 {
  overflow: auto;
  position: relative;
}

.col1 .wrapper.active {
  background-color: #eee;
}
.col1 .header {
  padding: 10px 10px 2px 10px;
}
.col1 .header .show-on-map {
  margin-left: 10px;
  color: #777;
  font-size: 0.7em;
  cursor: pointer;
}
.col1 .header .show-on-map:hover {
  color: #aaa;
}
.col1 .precinct-title {
  font-size: 1.2em;
  font-weight: bold;
}
.col1 .reporting {
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: normal;
  color: #999;
}

.col1 .candidates {
  padding: 0 14px;
}
.col1 .candidate {
  line-height: 1.6em;
  border-bottom: 1px solid #ccc;
}
.col1 .candidate .color {
  float: left;
  margin-top: 4px;
  height: 16px;
  width: 16px;
  background-color: #333;
}

.col .candidate-0 .color { background-color: #1b9e77; }
.col .candidate-1 .color { background-color: #d95f02; }
.col .candidate-2 .color { background-color: #7570b3; }
.col .candidate-3 .color { background-color: #e7298a; }
.col .candidate-4 .color { background-color: #66a61e; }
.col .candidate-5 .color { background-color: #e6ab02; }
.col .candidate-6 .color { background-color: #a6761d; }

.col1 .candidate .name {
  margin-left: 10px;
}
.col1 .candidate .percent {
  font-weight: bold;
  float: right;
}
.col1 .show-all {
  cursor: pointer;
  line-height: 1.6em;
  color: #999;
}

#map-target {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.leaflet-control-attribution {
  display: none;
}

.results-footer .sources {
  margin-right: 10px;
  float: right;
  color: #777;
  font-size: 0.7em;
}
.results-footer .sources a {
  color: #aaa;
}

